<meta name="google-site-verification" content="Annpsa3ofew5uayoL5afzIkaDRwIC16AUgzn7KOJkjU" />
<meta name="author" content="FluxMint Digital">
<meta property="og:site_name" content="FluxMint Digital">
<meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:url" content="{{ page.url | absolute_url }}">
<link rel="canonical" href="{{ page.url | absolute_url }}">
